body {
    background-image: url("../img/background.jpeg");
}

h1 {
    font-family: 'Michroma', sans-serif;
    color: white;
}

p {
    color: white;
}

.nav {
    display: inline;
}

.button {
    background: none;
    padding: 0px;
}


#camera {
    height: auto;
    width: 100px;
    display: inline;
}

.view {
    width: 35px;
    height: auto;
}


/* Gallery Styling */
article {
    background: none;
}

.gallery .th {
	float: left;
	margin: 0 20px 10px 0;
}

.large-6,
.large-3 {
	-moz-transition: width .25s .5s;
	-webkit-transition: width .25s .5s;
	transition: width .25s .5s;
}

#gallery a {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

#gallery img {
    height: 150px;
}

/* Wireframing Font */
@font-face {
    font-family: 'redactedregular';
    src: url('../font/redacted-regular.eot');
    src: url('../font/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/redacted-regular.woff') format('woff'),
         url('../font/redacted-regular.ttf') format('truetype'),
         url('../font/redacted-regular.svg#redactedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
p, h3, a {
	font-family: 'redactedregular';
}
/*



